<tr>
  <td><%= library_item.track %></td>
  <td><%= library_item.title %></td>
  <td><%= library_item.artist %></td>
  <td><%#= render partial: 'artist', collection: library_item.artists %></td>
</tr>
