<table>
  <% @group_artists.each do |type, artists| %>
    <tr>
      <td><%= type %></td>
      <td><%= render partial: 'shared/artist', collection: artists, spacer_template: 'shared/break' %></td>
    </tr>
  <% end %>
</table>
