<h1>Add Artist</h1>
<h2>Library Artist</h2>
<ul>
  <%= @library_artist.name %><br><br>
  <%= button_to 'Search what.cd for Artist', what_artist_request_path(artistname: @library_artist.name), remote: true, method: :post %>
</ul>
<h2>Albums associated with library artist</h2>
<ul>
  <%= render partial: 'library_album', collection: @library_artist_albums %>
</ul>
