<h1>Group</h1><%= link_to 'edit', edit_group_path(@group) %>
<%= render partial: 'shared/group' %>
<h2><%= link_to 'Associated library album', @library_album %></h2>
<%= render partial: 'shared/library_album' %>
